.forgotpass {
	display: flex;
	align-items: center;
	min-height: 60vh;
	width: 100%;

	.form-gotpass {
		width: 450px;
		margin: 0 auto;

		input {
			padding: 1rem;
			background-color: transparent;
			color: #fff;
			outline: none;
			border: none;
			margin-top: 1.6rem;
			font-size: 1.6rem;
			border-bottom: 1px solid #fff;

			&::placeholder {
				color: #fff;
			}
		}

		.group-btn {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-top: 1rem;
		}
	}
}
