@import '../../../../style/variables';

.main-auth {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: calc(90vh - $heightHeader);

	.title {
		font-size: 3.2rem;
		color: $colorRoot1;
		padding-bottom: 2rem;
	}

	.from-auth {
		border-radius: 1.6rem;
		background-color: #fff;
		padding: 2rem;
		min-width: 45rem;
		box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
	}

	.group-link {
		margin: 1rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.6rem;
		a {
			color: $colorPrimary;
			&:hover {
				opacity: 0.8;
			}
		}
	}

	.group-form {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1.6rem;
		input {
			width: 100%;
			padding: 1rem;
			border: #ccc solid 1px;
			font-size: 1.6rem;
			border-radius: 0.8rem;
		}

		.btn {
			margin-top: 1.6rem;
		}

		.btn-auth {
			border-radius: 4rem;
			padding: 1rem 3rem;
		}
	}
}
