.comment {
	margin-top: 2.6rem;
	background-color: #fff;
	padding: 2.5rem 4rem;
	border-radius: 0.8rem;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 0.8em;
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.1);
	}
}
