.preview-post {
	height: 100%;
	background-color: #fff;
	padding: 1.6rem;
	border-radius: 1rem;
	overflow: hidden;
	.title {
		position: relative;
		border-radius: 4rem;
		min-height: 3rem;
		overflow: hidden;
		font-size: 2.2rem;
		margin-bottom: 1rem;
		padding: 0 1rem;
		padding-bottom: 0.5rem;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
	}
	.image {
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 80%;
		border-radius: 1rem;
		img {
			max-height: 25rem;
		}
	}
}
