@import '../../../../style/variables';

.btn--toggle {
	position: relative;
	min-width: 6rem;
	min-height: 1.5rem;
	border-radius: 4rem;
	outline: none;
	border: none;
	background-color: rgb(226, 226, 226);

	&::after {
		content: '';
		position: absolute;
		width: 2.7rem;
		height: 2.7rem;
		border-radius: 50%;
		background-color: rgb(190, 190, 190);
		top: 50%;
		left: 0;
		transition: 0.4s;
		transform: translateY(-50%);
	}
}

.btn--toggle.active {
	&::after {
		background-color: $colorPrimary;
	}
}

.btn--toggle.un-active {
	&::after {
		background-color: $colorDanger;
		left: 3.7rem;
	}
}
