$colorRoot1: #14003f;
$colorRoot2: #1a0050;
$colorPrimary: rgb(0, 119, 255);
$colorDanger: rgb(255, 0, 55);
$colorSecondary: rgb(180, 180, 180);
$colorLightSecondary: rgb(245, 245, 245);

$secondaryText: rgb(56, 56, 56);
$hideText: rgb(170, 170, 170);

$heightHeader: 70px;
