@import '../../../../style/variables';

.form-add {
	background-color: #fff;
	padding: 1rem;
	border-radius: 0.5rem;

	.title {
		color: #333;
		font-size: 2.5rem;
		margin-bottom: 1.6rem;
	}

	.form-group + .form-group {
		margin-top: 1.6rem;
	}

	.form-group {
		label {
			color: $secondaryText;
			font-size: 1.5rem;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 0.5rem;
			display: block;
		}
		.input-element {
			padding: 1.4rem 1.6rem;
			border: 1px solid rgb(221, 221, 221);
			width: 100%;
			outline: none;
			border-radius: 1rem;
			&:empty:before {
				content: attr(placeholder);
				color: $hideText;
			}
			&::placeholder {
				color: $hideText;
			}
		}
	}

	.group-btn {
		margin-top: 1rem;
	}

	.select-preview {
		position: relative;
		height: 100%;
		.select-img {
			display: block;
			background-color: #fff;
			height: 100%;
			border: 3px dotted #ccc;
			color: #ccc;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2.5rem;
			border-radius: 1.6rem;
		}

		.closed-img {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			border-radius: 50%;
			top: 0.5rem;
			right: 0.5rem;
			width: 3.5rem;
			height: 3.5rem;
			border: 1px solid #ccc;
			overflow: hidden;
			opacity: 0.7;

			&:hover {
				cursor: pointer;
				opacity: 0.9;
			}
		}

		.preview {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border: 3px dotted #ccc;
			border-radius: 1.6rem;
			padding: 1rem;
		}
	}
}

.msg-my-page {
	margin-top: 8vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;

	h2 {
		font-size: 2.7rem;
	}

	.btn {
		margin-top: 2rem;
		font-size: 2.2rem;
		font-weight: 600;
	}
}

h1 {
	color: #333;
}

.list-notify {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	margin-top: 2.6rem;
}
